body {
  max-width: 800px;
  box-shadow: 0px 0px 10px black;
  margin: auto;
}

header {
  padding: 20px;
  font-family: monospace;
  background-color: #777;
  display: flex;
}

#logo {
  font-size: 32px;
  line-height: 1.1;
}

#logo a {
  color: #000;
  text-decoration: none;
  text-shadow: 2px 2px 3px #333;
}

nav ul {
  margin: 0;
  margin-left: 32px;
  padding: 4px;
  list-style-type: none;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  font-weight: bold;
  color: #000;
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-right-width: 0px;
  background-color: #ddd;
}

nav ul li:first-child a {
  padding-left: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

nav ul li:last-child a {
  padding-right: 8px;
  border-right-width: 1px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#content {
  padding: 16px;
}

.center {
  text-align: center;
}

.large {
  font-size: 2em;
}

.meta {
  font-size: 0.8em;
  color: #777;
}

footer {
  padding: 16px;
  background-color: #eee;
  text-align: center;
}

#slogan {
  font-size: 12px;
  font-weight: bold;
}
